body {
    background-color: rgb(26, 26, 26);
    font-family: 'Uchen', serif;
}

#header {
    width: 1000px;
    display: flex;
    margin: 150px auto;
}

#div-Einstein-pic {
    align-self: center;
    margin-right: 50px;
}

#Einstein-pic {
    width: 500px;
}

#title {
    color: rgb(144, 202, 249);
    font-size: 24;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title h1 {
    font-size: 53;
    margin: 0;
}

#title p {
    margin: 0;
}

#timeline {
    width: 700px;
    color: rgb(255, 255, 255);
    padding: 50px;
    margin: 300px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color:rgb(144, 202, 249);
    border-style: dashed;
    border-width: 5px;
}

#timeline h2 {
    text-align: center;
    color:rgb(144, 202, 249);
    font-size: 33;
}

li {
    margin: 19px 0;
    font-size: 20;
}

.blue-text {
    color:rgb(144, 202, 249);
}

#link {
    color: rgb(144, 202, 249);
}

#timeline p {
    font-size: 20
}
